/* General Styles */
#treeWrapper {
  width: 100%;
  height: 100vh;
}

/* Node styling */
.node-gen-0 {
  fill: #e0f7fa;
}
.node-gen-1 {
  fill: #ffccbc;
}
.node-gen-2 {
  fill: #c8e6c9;
}
.node-gen-3 {
  fill: #ffe0b2;
}
.node-gen-4 {
  fill: #d1c4e9;
}

.rd3t-node text,
.rd3t-leaf-node text {
  stroke: none; /* Remove any stroke that might be making it appear bold */
  font-weight: normal !important; /* Ensure the font weight is normal */
}

.rd3t-node {
  cursor: pointer;
}

.fixed-panel {
  position: fixed;
  top: 60px; /* Adjust based on your header height */
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it's above other elements */
}

.fixed-panel h4 {
  margin: 0;
  font-size: 16px;
}

.fixed-panel p {
  margin: 4px 0;
  font-size: 14px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .fixed-panel {
    position: relative; /* Change to relative for mobile */
    top: auto; /* Reset top position */
    right: auto; /* Reset right position */
    margin: 0; /* Reset margin */
    border: none; /* Optional: Remove border */
    padding: 10px; /* Maintain padding */
    box-shadow: none; /* Remove shadow */
    background-color: rgba(
      255,
      255,
      255,
      0.9
    ); /* Slightly transparent for better visibility */
  }
}
