/* src/components/Tree.css */
#treeWrapper {
  width: 100%;
  height: 100vh;
}
.node-gen-0 circle {
  fill: #ff6347;
} /* Generation 1 */
.node-gen-1 circle {
  fill: #4682b4;
} /* Generation 2 */
.node-gen-2 circle {
  fill: #32cd32;
} /* Generation 3 */
.node-gen-3 circle {
  fill: #ffd700;
} /* Generation 4 */
.node-gen-4 circle {
  fill: #8a2be2;
} /* Generation 5 */
